# Environnements virtuels
venv/
.env
*.pyc
__pycache__/
instance/

# Configurations sensibles
config.py.bat
*.log

# Cache et fichiers temporaires
*.sqlite3
.DS_Store
*.swp
*.swo

# Dépendances
*.egg-info/
pip-log.txt

# VS Code & IDEs
.vscode/
.idea/
*.iml

# Docker (si utilisé)
docker-compose.override.yml
